<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lab01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC06C9BF1DAE841100B8ABC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC06C9D31DAE841100B8ABC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC06C9DE1DAE841100B8ABC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
